html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-end; /* Align items to the bottom */
    align-items: center; /* Center horizontally */
}

#buttonDisplayHistory{
   
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    width: 60%; /* Set container width */
    padding-bottom: 20px; /* Optional: Space from bottom */
}

button {
    height: 50px;
    width: 100%; /* Make buttons fill the grid cell */
    background-color: lightblue;
    font-size: large;
}

button:hover {
    background-color: lightseagreen;
}

button:active {
    background-color: grey;
}
